*{padding:0;margin:0;box-sizing:border-box;}
body,html{height:100%;max-height:100% !important;}

/* template end asprazz */


/* header */
body header {
    width:100%;
    height:13%;
    min-height:70px;
    text-align:center;
    padding-top:20px;
    position:fixed;
    z-index:2;
    top:0;left:0;

    
}
body header ul.nav_menu_bg {
    list-style-type:none;
}
body header ul.nav_menu_bg li {
    display:inline-block;
    color:white;
    padding:5px 30px 10px 30px;
    //background-color:#222;
}
body header ul.nav_menu_bg li.logo {
    min-width:300px;
}
body header ul.nav_menu_bg li.active {
    border-bottom:2px solid #0ff;
}
body header ul.nav_menu_bg li.active,body header ul.nav_menu_bg li:hover {
    color:#0ff;
}

/* rellax_particles */
body div#rellax {
    width:100%;
    height:70%;
    min-height:300px;
    background-color:#222;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    background-image:url('../img/background_image_one.jpg');
    background-size:cover;
    background-position:center;
}
body div#rellax div.blindUp {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7)
}


body div#particles {
    width:100%;
    height:100%;
    top:0;left:0;
    position:fixed;
    z-index:1;
}
/* div.wrapper */
body div.wrapper {
    width:100%;
    height:100%;
}

body div.wrapper div.event_name {
    width:50%;
    margin:0 auto;
    height:22%;
    text-align:center;
    margin-top:10%;
    padding-top:1%;

    /* gradient border */
    border-style: solid;
    border-width: 2px;
    -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(0,0,0,.001) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    -moz-border-image: -moz-linear-gradient(
        left,
        rgba(0,0,0,.01) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
        ) 100% 0  100% 0/1px 0 1px 0 stretch;
        

    -o-border-image: -o-linear-gradient(
        left,
        rgba(0,0,0,.001) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,.9) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    border-image: linear-gradient(
        to left,
        rgba(0,0,0,.009) 0%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,.9) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        
}
body div.wrapper div.event_name h1 {
    color:#fff;    
    width:100%;
    font-family:Cookie;
    font-size:65px;
    font-weight:normal

}
body div.wrapper div.event_name h3 {
    color:#fff;
    font-family:sans-serif;
    font-weight:normal;   
}
body div.wrapper div.event_description {
    width:100%;
    height:100%;
}
body div.wrapper div.event_description div.row {
    width:100%;
    height:50%;

}
body div.wrapper div.event_description div.row div.col_3 {
    width:33.33%;
    height:100%;
    background-color:#222;
    float:left;
}