*{padding:0;margin:0;box-sizing:border-box;outline:none}
body,html{height:100%;max-height:100% !important;font-size:100%}

/* template end asprazz */



@media screen and (max-width:1000px) {
    body {
        font-size:100%;
    }
}
@media screen and (max-width:500px) {
    body {
        font-size:90%;
    }
}
@media screen and (min-width:1100px) {
    body {
        font-size:70%;
    }
}

span#opener {
    display:none;
}
span#closer {
    display:none;
}


/* mobile navigation menu */
div#mobile_navigation_menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5;
    background-color:rgba(0,0,0,0.9);
    padding-top:90px;
    display:none;
}
div#mobile_navigation_menu div.row{
    width:100%;
    height:50px;
    text-align:center;
    
}
div#topLogoTechnovision {
    font-size:3.4em;
    color:#fff;
    margin:0 auto;
    position:fixed;
     margin:0 auto;
    top:10px;
    left:42%;
    text-align:center;
    height:60px;
    font-family:"Cookie","sans-serif";
    opacity:0;
}

/* header */
body header {
    width:100%;
    height:11%;
    min-height:60px;
    text-align:center;
    position:fixed;
    z-index:3;
    background-color:#222;
    padding-top:10px;
    top:0;left:0;

    
}
body header ul.nav_menu_bg {
    list-style-type:none;
    position:relative;
    z-index:20;
}
body header ul.nav_menu_bg li {
    display:inline-block;
    color:white;
    font-size:1.5em;
    padding:5px 30px 10px 30px;
}
body header ul.nav_menu_bg li.logo {
    min-width:300px;
}
body header ul.nav_menu_bg li.active {
    border-bottom:2px solid #0ff;
}
body header ul.nav_menu_bg li.active,body header ul.nav_menu_bg li:hover {
    color:#0ff;
}

/* rellax_particles */
body div#rellax {
    width:100%;
    height:100%;
    min-height:300px;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    background-image:url('../img/background_image_one.jpg');
    background-size:cover;
    background-position:center;
}
body div#rellax div.blindUp {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7)
}


body div#particles {
    width:100%;
    height:100%;
    top:0;left:0;
    position:fixed;
    z-index:1;
}
/* div.wrapper */
body div.wrapper {
    width:100%;
    height:100%;
    padding-top:10%;
    position:fixed;
    z-index:1;
    top:0;left:0;
}
body div.wrapper div.event_name_container{
    width:100%;
    height:60%;
}
body div.wrapper div.event_name {
    width:50%;
    margin:0 auto;
    min-height:180px;
    text-align:center;

    /* gradient border */
    border-style: solid;
    border-width: 2px;
    -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(0,0,0,.001) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    -moz-border-image: -moz-linear-gradient(
        left,
        rgba(0,0,0,.01) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
        ) 100% 0  100% 0/1px 0 1px 0 stretch;
        

    -o-border-image: -o-linear-gradient(
        left,
        rgba(0,0,0,.001) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,.9) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    border-image: linear-gradient(
        to left,
        rgba(0,0,0,.009) 0%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,.9) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
    
    background: -moz-linear-gradient(left, rgba(255,255,255,0.076) 0%, rgba(255,255,255,0.001) 0%,rgba(255,255,255,0.05) 50%,rgba(255,255,255,0.001) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.001) 0%,rgba(255,255,255,0.05) 50%,rgba(255,255,255,0.001) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.001) 0%,rgba(255,255,255,0.05) 50%,rgba(255,255,255,0.001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
body div.wrapper div.event_name h1 {
    color:#fff;    
    width:100%;
    font-family:Cookie;
    font-size:75px;
    font-weight:normal
}
body div.wrapper div.event_name h3#subname {
    color:#fff;
    font-family:sans-serif;
    font-weight:normal;   
    font-size:1.7em;
    margin-top:-20px;
}


body div.event_description {
    width:100%;
    height:40%;
    background-color:rgba(0,0,0,0.5);
    position:relative;
}
body  div.event_description div.row {
    width:100%;
    height:100%;

}
body div.event_description div.row div.col_3 {
    width:33.33%;
    height:100%;
    float:left;
    padding:20px;

    /* gradient border */
    border-style: solid;
    border-width: 2px;
    -webkit-border-image: -webkit-linear-gradient(
        to bottom,
        rgba(0,0,0,.000) 0%,
        rgba(200,200,200,1) 50%,
        rgba(0,0,0,.0) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    -moz-border-image: -moz-linear-gradient(
        to bottom,
        rgba(0,0,0,.000) 0%,
        rgba(200,200,200,1) 50%,
        rgba(0,0,0,.0) 100%
        ) 100% 0  100% 0/1px 0 1px 0 stretch;
        

    -o-border-image: -o-linear-gradient(
        to bottom,
        rgba(0,0,0,.000) 0%,
        rgba(200,200,200,1) 50%,
        rgba(0,0,0,.0) 100%
        ) 100% 0 100% 0/1px 0 1px 0 stretch;
        

    border-image: linear-gradient(
        to bottom,
        rgba(0,0,0,.000) 0%,
        rgba(200,200,200,1) 50%,
        rgba(0,0,0,.0) 100%
        ) 0% 100% 0% 0/0px 2px 0px 0 stretch;
}


/* inner box */
body div.event_description div.row div.col_3 div.header {
    height:25%;
    width:100%;
}


body div.event_description div.row div.col_3 div.header div.headerIcon {
    height:100%;
    width:100%;
    padding:5px 10px;
    float:left;
    text-align:center;
    padding-top:3%;
}
body div.event_description div.row div.col_3 div.header div.headerIcon i {
    font-size:40px;
    color:#09f;   
}
body div.event_description div.row div.col_3 div.body {
    padding:20px 10px;
    height:75%;
    width:100%;
    text-align:center;
    font-family:sans-serif;
    color:#fff
}
body div.event_description div.row div.col_3 div.body h1 {
    font-weight:normal;
    font-size:20px;
    margin-top:10px;
}
body div.event_description div.row div.col_3 div.body h2 {
    margin-top:5px;
    font-size:21px;
    font-weight:bold;   
}
body div.event_description div.row div.col_3 div.body h2 button{
    border:none;
    padding:10px 50px;
    border-radius:10px;
    font-size:21px;
    background-color:transparent;
    color:rgba(23,122,166,1);
    border:1px solid rgba(23,122,166,1);  
    position:relative;
    z-index:2;
    min-width:250px;
}
body div.event_description div.row div.col_3 div.body h2 button:hover {
    border:1px solid rgba(23,122,166,1);
    background-color:rgba(23,122,166,1);
    color:#fff;
    cursor:pointer;
}


/* content area */

body div.content_area {
    height:auto;background-color:#fff;margin-top:70%;position:relative;z-index:2;padding-top:40px;
}
body div.content_area div.about_technovision {
    height:auto;
}
body div.header {
    width:100%;
    height:70px;
}
body  div.header h1     {
    width:65%;
    margin:0 auto;
    text-align:center;
    font-size:25px;
    
    
    font-family:sans-serif;
    padding:10px 10px;

    /* gradient border */
    border-style: solid;
    border-width: 2px;
    -webkit-border-image: -webkit-linear-gradient(
        to left,
        rgba(23,122,166,0.2) 0%,
        rgba(23,122,166,1) 50%,
        rgba(23,122,166,0.2) 100%
        ) 0% 0% 100% 0/0px 0px 1px 0 stretch;
        

    -moz-border-image: -moz-linear-gradient(
        to left,
        rgba(23,122,166,0.2) 0%,
        rgba(23,122,166,1) 50%,
        rgba(23,122,166,0.2) 100%
        ) 0% 0% 100% 0/0px 0px 1px 0 stretch;
        

    -o-border-image: -o-linear-gradient(
        to left,
        rgba(23,122,166,0.3) 0%,
        rgba(23,122,166,1) 50%,
        rgba(23,122,166,0.3) 100%
        ) 0% 0% 100% 0/0px 0px 1px 0 stretch;
        

    border-image: linear-gradient(
        to left,
        rgba(23,122,166,0.3) 0%,
        rgba(23,122,166,1) 50%,
        rgba(78, 122, 141, .30) 100%
        ) 0% 0% 100% 0/0px 0px 1px 0 stretch;
}
span.blue_color {
    color:rgb(23,122,166);
    transition:0.25;
}

/* about gcoej text" */

body div.about_gcoej_text {
    width:100%;
    padding:;
    padding-bottom:70px;
}
body div.about_gcoej_text p {
    width:80%;
    margin:0 auto;
    text-align:Center;
    font-size:20px;
}




/* rules and regulation block */
body div.content_area div.about_technovision div.rules_and_regulation_block {
    margin:0 auto;
    width:60%;
}
body div.content_area div.about_technovision div.about_gcoej_text {
    width:90%;
}
body div.content_area div.about_technovision div.rules_and_regulation_block ol li {
    margin-top:5px;
    font-size:16px;
    margin-top:10px;
    font-family:sans-serif;
}
body div.content_area div.about_technovision div.rules_and_regulation_block ol ul {
}
body div.content_area div.about_technovision div.rules_and_regulation_block ol ul li {
    margin-top:0px;
    list-style-type:circle;

}
    
body div.content_area div.about_technovision div.rules_and_regulation_block div.buttons {
    width:100%;
    text-align:center;
    padding:20px;
}
body div.content_area div.about_technovision div.rules_and_regulation_block div.buttons button {
    border:none;
    border:1px solid rgb(23,122,166);
    background-color:transparent;

    font-family:sans-serif;
    padding:5px 40px;
    border-radius:10px;
    margin-left:30px;
    min-width:170px;
    color:rgba(23,122,166);
}
body div.content_area div.about_technovision div.rules_and_regulation_block div.buttons button.traveling_allowance-active {
    background-color:rgb(23,122,166);
    color:#fff;
}
    
body div.content_area div.about_technovision div.rules_and_regulation_block div.buttons button:hover {
    background-color:rgb(23,122,166);
    color:#fff;
    cursor:pointer;
}

/* registration  block */
body div.content_area div.registration_process {
    background-color:#f2f2f2;
    height:auto;
    padding:20px;
}
body div.content_area div.registration_process div.registration_process_block {
    margin:0 auto;
    width:60%;
}
body div.content_area div.registration_process div.registration_process_block ol li {
    font-size:16px;
    margin-top:5px;
    font-family:sans-serif;
}
body div.content_area div.registration_process div.registration_process_block ol  ul li {
    margin-left:50px;
}
    
body div.content_area div.registration_process div.registration_process_block div.buttons {
    width:100%;
    text-align:center;
    padding:20px;
}
body div.content_area div.registration_process div.registration_process_block div.buttons button {
    border:none;
    border:1px solid rgb(23,122,166);
    background-color:transparent;

    font-family:sans-serif;
    padding:10px 40px;
    border-radius:10px;
    margin-left:30px;
    min-width:170px;
    color:rgba(23,122,166);
}
body div.content_area div.registration_process div.registration_process_block div.buttons button:hover {
    background-color:rgb(23,122,166);
    color:#fff;
    cursor:pointer;
}
body div.buttons button {
    font-size:1.5em;
}





/* buttons for rules */
div.rules_button button.active {

    background-color:rgb(23,122,166);
}




/* footer styling */

body footer {
    width:100%;
    height:100px;
    background-color:#222;
    text-align:center;

}

body footer p {
    background-color:#222;
    color:#fff;
    padding:10px;
    
}
/* footer block style */







/* importatn Dates */
div#importantDates {
    width:100%;
    height:100%;
    position:fixed;
    z-index:10;
    top:0; left:0;
    background-color:rgba(0,0,0,0.9);
    display:none;
}
span#importantDatesCloser {
    color:#fff;
    font-size:2.4em;
    position:fixed;
    left:20px;
    top:20px;
    z-index:20;
    display:inline-block;

}
span#importantDatesCloser {
    display:none;
}

div#contactUs {
    width:100%;
    height:100%;
    position:fixed;
    z-index:10;
    top:0; left:0;
    background-color:rgba(0,0,0,0.9);
    display:none;
}
span#contactUsCloser {
    color:#fff;
    font-size:2.4em;
    position:fixed;
    left:20px;
    top:20px;
    z-index:20;
    display:inline-block;

}
span#contactUsCloser {
    display:none;
}
span#contactUsCloser:hover {
    transform:scale(1.1);
    cursor:pointer;
}






@media screen and (max-width:1000px) {
    body ul.nav_menu_bg  {
        display:none
    }
    body div.event_name h1#name {
        font-size:2.5em;
    }


    body div.wrapper div.event_name {
        height:20%;
        width:90%;
        min-height:150px;
    }
    body div.wrapper div.event_description {
        height:80%;
        margin-top:-100px;
    }
    body div.wrapper div.event_description div.row {
        height:100%;

    }
    body div.wrapper div.event_description div.row div.col_1_sm {
       
    }
    
    body div.wrapper {
        padding-top:20%;
        height:100%;
    }


    body div.wrapper div.event_name h3#subname {
        font-size:1.2em;
    }


    span#opener,span#closer {
        color:#fff;
        font-size:2em;
        position:fixed;
        left:20px;
        top:20px;
        z-index:20;
        display:inline-block;
    }
    span#closer{display:none;}
    span#opener:hover , span#closer {
        cursor:pointer;
    }
    body  div.header h1 {
        width:80%;
        margin:0 auto;
    }        


    /* adjusting the info */

    body div.event_description div.row div.col_1_sm {
        width:100%;
        float:left;
        height:25%;
        padding:0;
    }
    body div.event_description div.row div.col_1_sm:last-child {
        margin-top:35px
    }
    body div.event_description div.row div.col_3 div.body h2 button {
        padding:5px 10px;
        font-size:18px;
    }
    body div.event_description div.row div.col_org_sm {
     display:none;   
    }
    body div.event_description div.row div.col_1_sm div.header {
        margin-bottom:5px;
    }
    
    
    body  div.header h1     {

        font-size:1.3em;
    }



    /* styling buttons */
    body div.content_area  div.buttons button {
        display:block;
    }
}


