/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body { 
	margin: 0;
	background-image: url('../img/abhivyakti-min.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}

.data-content{
	min-height: 320px;
	padding-top:25px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	border-radius: 5px;
}

.btn-outline-primary {
  border: 2px solid #4285F4;
  color: #4285F4 !important;
  background-color: transparent;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary.active {
  background-color: transparent;
  color: #4285F4;
  border-color: #4285F4;
}

btn-outline-danger {
  border: 2px solid #ff3547;
  color: #ff3547 !important;
  background-color: transparent;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger.active {
  background-color: transparent;
  color: #ff3547;
  border-color: #ff3547;
}

.btn-outline-warning {
  border: 2px solid #FF8800;
  color: #FF8800 !important;
  background-color: transparent;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning:active:focus, .btn-outline-warning.active {
  background-color: transparent;
  color: #FF8800;
  border-color: #FF8800;
}

.btn-outline-success {
  border: 2px solid #00C851;
  color: #00C851 !important;
  background-color: transparent;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success:active:focus, .btn-outline-success.active {
  background-color: transparent;
  color: #00C851;
  border-color: #00C851;
}

.btn-outline-info {
  border: 2px solid #33b5e5;
  color: #33b5e5 !important;
  background-color: transparent;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info.active {
  background-color: transparent;
  color: #33b5e5;
  border-color: #33b5e5;
}

.btn-outline-secondary {
  border: 2px solid #aa66cc;
  color: #aa66cc !important;
  background-color: transparent;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:active:focus, .btn-outline-secondary.active {
  background-color: transparent;
  color: #aa66cc;
  border-color: #aa66cc;
}

.btn-outline-elegant {
  border: 2px solid #2E2E2E;
  color: #2E2E2E !important;
  background-color: transparent;
}

.btn-outline-elegant:hover, .btn-outline-elegant:focus, .btn-outline-elegant:active, .btn-outline-elegant:active:focus, .btn-outline-elegant.active {
  background-color: transparent;
  color: #2E2E2E;
  border-color: #2E2E2E;
}

.btn-outline-unique {
  border: 2px solid #880e4f;
  color: #880e4f !important;
  background-color: transparent;
}

.btn-outline-unique:hover, .btn-outline-unique:focus, .btn-outline-unique:active, .btn-outline-unique:active:focus, .btn-outline-unique.active {
  background-color: transparent;
  color: #880e4f;
  border-color: #880e4f;
}

.btn-outline-dark-green {
  border: 2px solid #388E3C;
  color: #388E3C !important;
  background-color: transparent;
}

.btn-outline-dark-green:hover, .btn-outline-dark-green:focus, .btn-outline-dark-green:active, .btn-outline-dark-green:active:focus, .btn-outline-dark-green.active {
  background-color: transparent;
  color: #388E3C;
  border-color: #388E3C;
}

.btn-outline-red {
  border: 2px solid #D32F2F;
  color: #D32F2F !important;
  background-color: transparent;
}

.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active, .btn-outline-red:active:focus, .btn-outline-red.active {
  background-color: transparent;
  color: #D32F2F;
  border-color: #D32F2F;
}

.btn-outline-pink {
  border: 2px solid #ec407a;
  color: #ec407a !important;
  background-color: transparent;
}

.btn-outline-pink:hover, .btn-outline-pink:focus, .btn-outline-pink:active, .btn-outline-pink:active:focus, .btn-outline-pink.active {
  background-color: transparent;
  color: #ec407a;
  border-color: #ec407a;
}

.btn-outline-purple {
  border: 2px solid #8e24aa;
  color: #8e24aa !important;
  background-color: transparent;
}

.btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active, .btn-outline-purple:active:focus, .btn-outline-purple.active {
  background-color: transparent;
  color: #8e24aa;
  border-color: #8e24aa;
}

.btn-outline-deep-purple {
  border: 2px solid #512da8;
  color: #512da8 !important;
  background-color: transparent;
}

.btn-outline-deep-purple:hover, .btn-outline-deep-purple:focus, .btn-outline-deep-purple:active, .btn-outline-deep-purple:active:focus, .btn-outline-deep-purple.active {
  background-color: transparent;
  color: #512da8;
  border-color: #512da8;
}

.btn-outline-indigo {
  border: 2px solid #3f51b5;
  color: #3f51b5 !important;
  background-color: transparent;
}

.btn-outline-indigo:hover, .btn-outline-indigo:focus, .btn-outline-indigo:active, .btn-outline-indigo:active:focus, .btn-outline-indigo.active {
  background-color: transparent;
  color: #3f51b5;
  border-color: #3f51b5;
}

.btn-outline-blue {
  border: 2px solid #1976D2;
  color: #1976D2 !important;
  background-color: transparent;
}

.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active, .btn-outline-blue:active:focus, .btn-outline-blue.active {
  background-color: transparent;
  color: #1976D2;
  border-color: #1976D2;
}

.btn-outline-light-blue {
  border: 2px solid #82B1FF;
  color: #82B1FF !important;
  background-color: transparent;
}

.btn-outline-light-blue:hover, .btn-outline-light-blue:focus, .btn-outline-light-blue:active, .btn-outline-light-blue:active:focus, .btn-outline-light-blue.active {
  background-color: transparent;
  color: #82B1FF;
  border-color: #82B1FF;
}

.btn-outline-cyan {
  border: 2px solid #00bcd4;
  color: #00bcd4 !important;
  background-color: transparent;
}

.btn-outline-cyan:hover, .btn-outline-cyan:focus, .btn-outline-cyan:active, .btn-outline-cyan:active:focus, .btn-outline-cyan.active {
  background-color: transparent;
  color: #00bcd4;
  border-color: #00bcd4;
}

.btn-outline-teal {
  border: 2px solid #00796b;
  color: #00796b !important;
  background-color: transparent;
}

.btn-outline-teal:hover, .btn-outline-teal:focus, .btn-outline-teal:active, .btn-outline-teal:active:focus, .btn-outline-teal.active {
  background-color: transparent;
  color: #00796b;
  border-color: #00796b;
}

.btn-outline-green {
  border: 2px solid #388E3C;
  color: #388E3C !important;
  background-color: transparent;
}

.btn-outline-green:hover, .btn-outline-green:focus, .btn-outline-green:active, .btn-outline-green:active:focus, .btn-outline-green.active {
  background-color: transparent;
  color: #388E3C;
  border-color: #388E3C;
}

.btn-outline-light-green {
  border: 2px solid #8bc34a;
  color: #8bc34a !important;
  background-color: transparent;
}

.btn-outline-light-green:hover, .btn-outline-light-green:focus, .btn-outline-light-green:active, .btn-outline-light-green:active:focus, .btn-outline-light-green.active {
  background-color: transparent;
  color: #8bc34a;
  border-color: #8bc34a;
}

.btn-outline-lime {
  border: 2px solid #afb42b;
  color: #afb42b !important;
  background-color: transparent;
}

.btn-outline-lime:hover, .btn-outline-lime:focus, .btn-outline-lime:active, .btn-outline-lime:active:focus, .btn-outline-lime.active {
  background-color: transparent;
  color: #afb42b;
  border-color: #afb42b;
}

.btn-outline-yellow {
  border: 2px solid #fbc02d;
  color: #fbc02d !important;
  background-color: transparent;
}

.btn-outline-yellow:hover, .btn-outline-yellow:focus, .btn-outline-yellow:active, .btn-outline-yellow:active:focus, .btn-outline-yellow.active {
  background-color: transparent;
  color: #fbc02d;
  border-color: #fbc02d;
}

.btn-outline-amber {
  border: 2px solid #ffa000;
  color: #ffa000 !important;
  background-color: transparent;
}

.btn-outline-amber:hover, .btn-outline-amber:focus, .btn-outline-amber:active, .btn-outline-amber:active:focus, .btn-outline-amber.active {
  background-color: transparent;
  color: #ffa000;
  border-color: #ffa000;
}

.btn-outline-orange {
  border: 2px solid #f57c00;
  color: #f57c00 !important;
  background-color: transparent;
}

.btn-outline-orange:hover, .btn-outline-orange:focus, .btn-outline-orange:active, .btn-outline-orange:active:focus, .btn-outline-orange.active {
  background-color: transparent;
  color: #f57c00;
  border-color: #f57c00;
}

.btn-outline-deep-orange {
  border: 2px solid #ff7043;
  color: #ff7043 !important;
  background-color: transparent;
}

.btn-outline-deep-orange:hover, .btn-outline-deep-orange:focus, .btn-outline-deep-orange:active, .btn-outline-deep-orange:active:focus, .btn-outline-deep-orange.active {
  background-color: transparent;
  color: #ff7043;
  border-color: #ff7043;
}

.btn-outline-brown {
  border: 2px solid #795548;
  color: #795548 !important;
  background-color: transparent;
}

.btn-outline-brown:hover, .btn-outline-brown:focus, .btn-outline-brown:active, .btn-outline-brown:active:focus, .btn-outline-brown.active {
  background-color: transparent;
  color: #795548;
  border-color: #795548;
}

.btn-outline-grey {
  border: 2px solid #616161;
  color: #616161 !important;
  background-color: transparent;
}

.btn-outline-grey:hover, .btn-outline-grey:focus, .btn-outline-grey:active, .btn-outline-grey:active:focus, .btn-outline-grey.active {
  background-color: transparent;
  color: #616161;
  border-color: #616161;
}

.btn-outline-blue-grey {
  border: 2px solid #78909c;
  color: #78909c !important;
  background-color: transparent;
}

.btn-outline-blue-grey:hover, .btn-outline-blue-grey:focus, .btn-outline-blue-grey:active, .btn-outline-blue-grey:active:focus, .btn-outline-blue-grey.active {
  background-color: transparent;
  color: #78909c;
  border-color: #78909c;
}

.btn-outline-white {
  border: 2px solid #fff;
  color: #fff !important;
  background-color: transparent;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white:active:focus, .btn-outline-white.active {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.btn-outline-black {
  border: 2px solid #000;
  color: #000 !important;
  background-color: transparent;
}

.btn-outline-black:hover, .btn-outline-black:focus, .btn-outline-black:active, .btn-outline-black:active:focus, .btn-outline-black.active {
  background-color: transparent;
  color: #000;
  border-color: #000;
}

.btn-block {
   width: 100%;
}







/* =Common Styles
-------------------------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
	background: #fff;
	color: #666666;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

section { overflow: hidden; }
::selection { background: #161a1b; color: #fff; }
::-moz-selection { background: #161a1b; color: #fff; }


/* =Typography
-------------------------------------------------------------- */
a {
    text-decoration: none;
}

h1, h3 { margin: 0; }

h1 {
	font-size: 80px;
	font-weight: 800;
	line-height: 80px;
	letter-spacing: -0.08em;
	color: #161a1b; 
}

h3 {
	font-size: 18px;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #161a1b;
}

#countdown div span {
	display:block;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: initial;
	font-weight: 100;
	text-transform: uppercase;
}

#countdown div {
	display:inline-block;
    margin: 0 34px;
}

.sub-title {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0px;
}


/* =Content Styles
-------------------------------------------------------------- */

.wrapper {
  text-align: center;		
  position: absolute;
  overflow: hidden;
  display: table-cell;
  height: 100%;
  width: 100%;
  left: 0;
  top: 20%;
}


.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  position: relative;
  overflow: hidden;
}

.layer { position: absolute; }

.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* Text */
.title {
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 10%;
}

.line {
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 1px;
	background: #00d9ec;
	margin-top: 10px;
}

/* Flakes Sizing */
.depth-5 img, .depth-4 img, .depth-3 img, .depth-2 img, .depth-1 img {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6,0.6);
	transform: scale(0.6);
}

/* Flakes Positioning */
.depth-5 {
	position: absolute;
	right: -100%;
	top: -24%;
}

.depth-4 {
	position: absolute;
	left: -10%;
	top: 37%;
 }

.depth-3.flake1 {
	display: none;
}

.depth-3.flake2 {
	position: absolute;
	right: 16%;
	bottom: 20%;
}

.depth-3.flake3 {
	position: absolute;
	left: 10%;
	bottom: 16%;
}

.depth-3.flake4 {
	display: none;
}

.depth-2.flake1 { 
	display: none;
}

.depth-2.flake2 {
	display: none;
}

.depth-1.flake1 {
	display: none;
}

.depth-1.flake2 { 
	position: absolute;
	right: 40%;
	top: 50%;
}

.depth-1.flake3 { 
	display: none;
}

.depth-1.flake4 { 
	position: absolute;
	right: 0;
	top: 0;
}


/* =Responsive Styles
-------------------------------------------------------------- */

@media (max-width: 320px) {
	/* HERO */
	h1 { font-size: 40px; line-height: 40px; }
	#countdown div span {font-size: 24px; line-height: 34px;}
	.sub-title { font-size: ; line-height: ; margin-top: 10px; }
	/* TITLE & CONTACT */
	.title { top: 15%;}
	.contact .icons { margin-bottom: 0px; }
	/* SIZES */
	.sphere img{
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6,0.6);
		transform: scale(0.6);
	}
	/* POSITIONING */
	.depth-5 {
		position: absolute;
		right: -50%;
		top: -50%;
	}

	.depth-4 {
		left: -4%;
		top: 20%;
	 }

	.depth-3.flake1 {
		display: none;
	}

	.depth-3.flake2 {
		position: absolute;
		right: 16%;
		bottom: 20%;
	}

	.depth-3.flake3 {
		position: absolute;
		left: 10%;
		bottom: 16%;
	}

	.depth-3.flake4 {
		display: none;
	}

	.depth-2.flake1 { 
		display: none;
	}

	.depth-2.flake2 {
		display: none;
	}

	.depth-1.flake1 {
		display: none;
	}

	.depth-1.flake2 { 
		position: absolute;
		right: 40%;
		top: 40%;
	}

	.depth-1.flake3 { 
		display: none;
	}

	.depth-1.flake4 { 
		position: absolute;
		right: 0;
		top: 0;
	}
}


/* Landscape Phone */
@media all and (min-width: 400px) {
	/* HERO */
	h1 { font-size: 40px; line-height: 40px; }
	#countdown div span {font-size: 24px; line-height: 34px;}
	.sub-title { font-size: ; line-height: ; margin-top: 10px; }
	/* TITLE & CONTACT */
	.title { top: 15%;}
	.contact .icons { margin-bottom: 0px; }
	/* SIZES */
	.sphere img{
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6,0.6);
		transform: scale(0.6);
	}
	/* POSITIONING */
	.depth-5 {
		position: absolute;
		right: -50%;
		top: -50%;
	}

	.depth-4 {
		left: -4%;
		top: 20%;
	 }

	.depth-3.flake1 {
		display: none;
	}

	.depth-3.flake2 {
		position: absolute;
		right: 16%;
		bottom: 20%;
	}

	.depth-3.flake3 {
		position: absolute;
		left: 10%;
		bottom: 16%;
	}

	.depth-3.flake4 {
		display: none;
	}

	.depth-2.flake1 { 
		display: none;
	}

	.depth-2.flake2 {
		display: none;
	}

	.depth-1.flake1 {
		display: none;
	}

	.depth-1.flake2 { 
		position: absolute;
		right: 40%;
		top: 40%;
	}

	.depth-1.flake3 { 
		display: none;
	}

	.depth-1.flake4 { 
		position: absolute;
		right: 0;
		top: 0;
	}
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
	/* HERO */
	h1 { font-size: 90px; line-height: 90px; }
	.sub-title { font-size: 20px; line-height: 20px; margin-top: 10px; }
	/* TITLE & CONTACT */
	.title { top: 18%;}
	.line { margin-top: 20px; }
	.contact { bottom: 10%; }
	.contact .icons { margin-bottom: 12px; }
	/* SIZES */
	.sphere img{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1,1);
		transform: scale(1);
	}
	.depth-5 img, .depth-4 img, .depth-3 img, .depth-2 img, .depth-1 img {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8,0.8);
		transform: scale(0.8);
	}
	/* POSITIONING */
	.depth-5 {
		right: -25%;
		top: 3%;
	}

	.depth-4 {
		left: -3%;
		top: 15%;
	 }

	.depth-3.flake1 {
		display: none;
	}

	.depth-3.flake2 {
		right: 25%;
		bottom: 25%;
	}

	.depth-3.flake3 {
		left: 20%;
		bottom: 20%;
	}

	.depth-3.flake4 {
		display: block;
		position: absolute;
		left: 10%;
		bottom: 40%;
	}

	.depth-2.flake1 {
		display: none;
	}

	.depth-2.flake2 {
		display: none;
	}

	.depth-1.flake1 {
		display: none;
	}

	.depth-1.flake2 { 
		display: block;
		left: 15%;
		top: 25%;
	}

	.depth-1.flake3 { 
		display: none;
	}

	.depth-1.flake4 { 
		display: none;
	}
	
}

@media all and (min-width: 900px) {
	/* HERO */
	h1 { font-size: 120px; line-height: 120px; }

	#countdown div span {font-size: 34px; line-height: 34px;}
	
	.sub-title { font-size: 20px; line-height: 20px; margin-top: 20px; }
	/* TITLE & CONTACT */
	.title { top: 15%;}
	.contact { bottom: 8%; }
	.contact .icons { margin-bottom: 12px; }
	/* SIZES */
	.sphere img{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1,1);
		transform: scale(1);
	}
	.depth-5 img, .depth-4 img, .depth-3 img, .depth-2 img, .depth-1 img {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8,0.8);
		transform: scale(0.8);
	}
	/* POSITIONING */
	.depth-5 {
		right: -25%;
		top: 3%;
	}

	.depth-4 {
		left: -3%;
		top: 15%;
	 }

	.depth-3.flake1 {
		display: none;
	}

	.depth-3.flake2 {
		right: 25%;
		bottom: 25%;
	}

	.depth-3.flake3 {
		left: 20%;
		bottom: 20%;
	}

	.depth-3.flake4 {
		display: block;
		position: absolute;
		left: 10%;
		bottom: 40%;
	}

	.depth-2.flake1 {
		display: none;
	}

	.depth-2.flake2 {
		display: none;
	}

	.depth-1.flake1 {
		display: none;
	}

	.depth-1.flake2 { 
		display: block;
		left: 15%;
		top: 25%;
	}

	.depth-1.flake3 { 
		display: none;
	}

	.depth-1.flake4 { 
		display: none;
	}
}

@media all and (min-width: 1200px) {
	/* HERO */
	h1 { font-size: 150px; line-height: 150px; }
	#countdown div span {font-size: 44px; line-height: 44px;}
	.sub-title { font-size: 25px; line-height: 25px; margin-top: 20px; }
	/* SIZES */
	.sphere img{
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1,1);
		transform: scale(1);
	}
	.depth-5 img, .depth-4 img, .depth-3 img, .depth-2 img, .depth-1 img {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1,1);
		transform: scale(1);
	}
	/* POSITIONING */
	.depth-5 {
		right: -10%;
		top: -10%;
		-webkit-animation: wave 9s 0.1s infinite linear;
		-moz-animation: wave 9s 0.1s infinite linear;
		animation: wave 9s 0.1s infinite linear;
	}

	.depth-4 {
		left: -3%;
		top: 15%;
		-webkit-animation: wave 7s 0.1s infinite linear;
		-moz-animation: wave 7s 0.1s infinite linear;
		animation: wave 7s 0.1s infinite linear;
	 }


	.depth-3 {
		-webkit-animation: wave 6s 0.1s infinite linear;
		-moz-animation: wave 6s 0.1s infinite linear;
		animation: wave 6s 0.1s infinite linear;
	}

	.depth-3.flake1 {
		display: block;
		position: absolute;
		left: 20%;
		top: 40%;
	}

	.depth-3.flake2 {
		right: 25%;
		bottom: 25%;
	}

	.depth-3.flake3 {
		left: 20%;
		bottom: 20%;
	}

	.depth-3.flake4 {
		display: block;
		position: absolute;
		left: 10%;
		bottom: 40%;
	}

	.depth-2 {
		-webkit-animation: wave 5s 0.1s infinite linear;
		-moz-animation: wave 5s 0.1s infinite linear;
		animation: wave 5s 0.1s infinite linear;
	}

	.depth-2.flake1 { 
		display: block;
		position: absolute;
		right: 40%;
		top: 40%;
	}

	.depth-2.flake2 { 
		display: none;
	}

	.depth-1 {
		-webkit-animation: wave 4s 0.1s infinite linear;
		-moz-animation: wave 4s 0.1s infinite linear;
		animation: wave 4s 0.1s infinite linear;
	}

	.depth-1.flake1 {
		display: block;
		position: absolute;
		left: 30%;
		bottom: 20%;
	}

	.depth-1.flake2 { 
		display: block;
		left: 15%;
		top: 25%;
	}

	.depth-1.flake3 { 
		display: none;
	}

	.depth-1.flake4 { 
		display: none;
	}
}

@media all and (min-width: 1400px) {
	/* HERO */
	h1 { font-size: 160px; line-height: 160px; }
	.sub-title { font-size: 25px; line-height: 25px; margin-top: 20px; }
	/* POSITIONING */
	.depth-5 {
		right: -10%;
		top: -5%;
	}

	.depth-4 {
		left: -3%;
		top: 15%;
	 }

	.depth-3.flake1 {
		display: block;
		position: absolute;
		left: 20%;
		top: 40%;
	}

	.depth-3.flake2 {
		right: 25%;
		bottom: 25%;
	}

	.depth-3.flake3 {
		left: 40%;
		bottom: 20%;
	}

	.depth-3.flake4 {
		display: block;
		position: absolute;
		left: 10%;
		bottom: 40%;
	}

	.depth-2.flake1 { 
		display: block;
		position: absolute;
		right: 40%;
		top: 40%;
	}

	.depth-2.flake2 { 
		display: none;
	}

	.depth-1.flake1 {
		display: block;
		position: absolute;
		left: 30%;
		bottom: 30%;
	}

	.depth-1.flake2 { 
		display: block;
		left: 15%;
		top: 25%;
	}

	.depth-1.flake3 { 
		display: block;
		position: absolute;
		bottom: 20%;
		right: 40%;
	}

	.depth-1.flake4 { 
		display: block;
		right: 40%;
		top: 25%;
	}
}

@media all and (min-width: 1600px) {
	/* HERO */
	h1 { font-size: 180px; line-height: 180px; }
	#countdown div span {font-size: 54px; line-height: 54px;}
	.sub-title { font-size: 25px; line-height: 25px; margin-top: 25px; }
}


@media all and (min-width: 1920px) {
	/* HERO */
	h1 { font-size: 200px; line-height: 200px; }
	.sub-title { font-size: 30px; line-height: 30px; margin-top: 30px; }
	/* POSITIONING */
	.depth-5 {
		right: -10%;
		top: 5%;
	}

	.depth-4 {
		left: 3%;
		top: 15%;
	 }

	.depth-3.flake1 {
		display: block;
		position: absolute;
		left: 20%;
		top: 40%;
	}

	.depth-3.flake2 {
		right: 25%;
		bottom: 25%;
	}

	.depth-3.flake3 {
		left: 40%;
		bottom: 20%;
	}

	.depth-3.flake4 {
		display: block;
		position: absolute;
		left: 10%;
		bottom: 40%;
	}

	.depth-2.flake1 { 
		display: block;
		position: absolute;
		right: 40%;
		top: 40%;
	}

	.depth-2.flake2 { 
		display: none;
	}

	.depth-1.flake1 {
		display: block;
		position: absolute;
		left: 30%;
		bottom: 30%;
	}

	.depth-1.flake2 { 
		display: block;
		left: 20%;
		top: 30%;
	}

	.depth-1.flake3 { 
		display: block;
		position: absolute;
		bottom: 30%;
		right: 40%;
	}

	.depth-1.flake4 { 
		display: block;
		right: 40%;
		top: 25%;
	}
}

/* =Animation
-------------------------------------------------------------- */

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}
body { 
	margin: 0;
	background-image: url('../img/abhivyakti-min.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}

.banner {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 750px;
}